
@using System.Security.Claims
@using  fault3r_Presentation.Models.ViewModels.Account
@model ViewAccountViewModel

@{
    ViewData["Title"] = "حساب کاربری";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
    <link rel="stylesheet" href="~/css/account.css" />
}

<div class="a-main">   
    <div class="main-account">        
        <div class="content">    
            <span>ایمیل: @Model.Email</span>               
            <span>نام: @Model.Name</span>            
            <span>رتبه: @Model.Rank</span>
            <span>تاریخ ثبت نام: @Model.Date</span>
            <span class="bio">درباره: @Model.Bio</span>
        </div>   
        <div class="picture" style="background-image: url('data:image/*;base64,@Model.Picture')"></div>
    </div>
    <div class="options">        
        <a href="/Account/Update"><i class="fa fa-pencil"></i>ویرایش مشخصات</a>
        <a href="/Account/ChangePassword"><i class="fa fa-key"></i>تغییر کلمه عبور</a>
        <a href="/Account/Delete"><i class="fa fa-trash"></i>حذف حساب کاربری</a>
        <a href="/Accounts/SignOut"><i class="fa fa-power-off"></i>خروج</a>
    </div>
    <div class="main-more">
    </div>
</div>