
@using fault3r_Presentation.Areas.AdminPanel.Models.ViewModels.Users
@model UsersViewModel

@{
    ViewData["Title"] = "مدیریت کاربران";
    Layout = "~/Areas/AdminPanel/Views/Shared/_Layout.cshtml";
}

@section Styles{
    <link rel="stylesheet" href="~/css/admin/main.css" />
}

<div class="main-container">
     <span class="title"><i class="fa fa-user-circle"></i>مدیریت کاربران</span>
     <div class="searchbar">
         <table>
             <form asp-area="AdminPanel" asp-controller="Users" asp-action="Index" method="get">
                 <tr>
                     <td colspan="2"><span><i class="fa fa-neuter"></i>جستجو بر اساس ایمیل:</span></td>
                 </tr>
                 <tr>
                     <td><input name="search" placeholder="جستجو..." autocomplete="off" /></td>
                     <td><button type="submit"><i class="fa fa-search"></i></button></td>
                 </tr>
             </form>
         </table>                  
     </div>
     <div class="main">
         <table>
             <tr>
                 <th>تصویر</th>
                 <th>نام</th>
                 <th>ایمیل</th>
                 <th>رتبه</th>
                 <th>نقش</th>
                 <th>وضعیت</th>
                 <th>امکانات</th>
             </tr>
            @{
                foreach(var user in Model.Users)
                {
                    <tr>
                        <td><img src="data:image/*;base64,@user.Picture"></td>
                        <td>@user.Name</td>
                        <td>@user.Email</td>
                        <td>@user.Rank</td>
                        <td>@user.Role</td>
                        <td>@user.IsActive</td>
                        <td class="options">
                            <div class="menu-container">
                                <button>امکانات</button>
                                <div class=menu-content>
                                    <a href="#">ویرایش حساب</a>
                                    <a href="#">حذف حساب</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            }
         </table>
     </div>
     <div class="pagination">
        @{
            if (Model.Pagination.HasPrev)
            {
                int perv = Model.Pagination.CurrentPage - 1;
                <a href="/AdminPanel/Users/Index?search=@Model.Search&page=@perv"> &lt; </a>
            }
             if(Model.Pagination.HasMorePrev)
            {        
                <a href="/AdminPanel/Users/Index?search=@Model.Search&page=1">1</a>
                <span> ... </span>
            }
            foreach(var nPage in Model.Pagination.Pages)
            {
                if(Model.Pagination.CurrentPage==nPage)
                {
                    <a class="current" href="/AdminPanel/Users/Index?search=@Model.Search&page=@nPage">@nPage.ToString()</a>
                }
                else
                {
                    <a href="/AdminPanel/Users/Index?search=@Model.Search&page=@nPage">@nPage.ToString()</a>
                }
            }
            if(Model.Pagination.HasMoreNext)
            {
                <span> ... </span>
                <a href="/AdminPanel/Users/Index?search=@Model.Search&page=@Model.Pagination.PageCount">@Model.Pagination.PageCount.ToString()</a>
            }
            if(Model.Pagination.HasNext)
            {
                int next = Model.Pagination.CurrentPage + 1;
                <a href="/AdminPanel/Users/Index?search=@Model.Search&page=@next"> &gt; </a>
            }
        }
    </div>
</div>

