
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DarkMatter</title>    
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">    
    @RenderSection("Styles", required: false)
    <link rel="stylesheet" href="~/css/layout.css" />
</head>
<body>     
    <div class="l-nav">
        <div class="nav-logo">
            <div class="logo">
                <span>ماده تاریک</span>                               
            </div>
        </div>
        <div class="nav-menu">
            <a href="/">خانه</a>
            <a href="/Forums/Index">انجمن</a>
            <a href="#">درباره ما</a>
        </div>
        <div class="nav-more">
            <div class="searchbar">
                <a href="#"><i class="fa fa-search"></i></a>
                <input type="text" placeholder="جستجو..." />
            </div>
            <div class="option">
                @{
                    if (User.Identity.IsAuthenticated)
                    {
                        <a href="/Account/Index"><i class="fa fa-user"></i>حساب کاربری</a>
                    }
                    else
                    {
                        <a href="/Accounts/SignIn"><i class="fa fa-user"></i>ورود به سایت</a>
                    }
                }
            </div>
        </div>
    </div>        
    <div class="l-header">
        <div class="header-main">
            <div class="header">
                <span>انجمن</span>
                <span class="title">ماده تاریک</span>
                <span>.</span>           
            </div>                    
            <span class="about">این یک انجمن است برای پیدا کردن بهترین جواب برای سوالات خود.</span>
        </div>
    </div>
    <div class="l-main">
        <div class="main-sidebar">
            @RenderSection("Sidebar",required: false)           
        </div>
        <div class="main-body">            
            @RenderBody()
        </div>
    </div>
    <div class="l-footer">
        <span>&copy; Copyright all rights reserved 2024</span>
        <span>by: <span class="by">fault3r</span>.</span>
    </div>
    @RenderSection("Scripts", required: false)
</body>
</html>